.App-WeatherCard-Container{
  widows: 100%;
  height: 100%
}

.App-WeatherCard{
  /* width:100%; */
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 350px;
  margin: auto;
  justify-content: space-between;
}

.App-WeatherCard.wide-screen{
  width: 740px;
}

.weathercard-background{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.weathercard-content{
  width: 100%;
  height: 100%;
}

.city-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
/* 
.city-title span{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.App-WeatherCard.wide-screen .city-title {
  /* margin-top: 50px; */
}


.city-name{
  font-size: 40px;
  text-align: center;
}


.App-WeatherCard.wide-screen .city-name{
  font-size: 50px;
}

.city-name img{
  height: 30px;
}

.App-WeatherCard.wide-screen .city-name img{
  height: 50px;
}


.city-location{
  font-size: 20px;
}

.city-datetime{
  width: 100%;
}

.city-details{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.city-temperature{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.App-WeatherCard.wide-screen .city-temperature{
  justify-content: space-between;
}


.city-temperature img{
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  display: none;

}

.App-WeatherCard.wide-screen .city-temperature img{
  display: block;
}

.App-WeatherCard.wide-screen .city-details{
  flex-direction: row;
  justify-content: center;
}

.city-temperature-forecast{
  margin-bottom: 50px;
}

.weather-top{
  width: 100%;
}

.city-more-details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}


.App-WeatherCard.wide-screen .city-more-details{
  flex-direction: row;
}

.city-weather-change{
   color: rgb(243, 151, 255);
   cursor: pointer;
   user-select: none;
   margin-bottom: 10px;
}

.city-weather-change:hover{
  text-decoration: underline;
}

.city-weather-icon{
   filter: hue-rotate(37deg) contrast(10) drop-shadow(1px 1px 6px white);
   height:80px;
   width: 80px;
   margin-top: -20px;
   margin-bottom: -20px;
   pointer-events: none;;
}


.App-WeatherCard.wide-screen .city-weather-icon{
  height:150px;
  width: 150px;
  margin-top: -30px;
  margin-bottom: -30px;
}

.w-card-loading{  
  animation: loading 1s ease-in-out infinite alternate;
}

.w-card-loading img{
  height: 200px;
}

.w-card-loading span{
  font-size: 30px;
}

.App-WeatherCard.wide-screen .w-card-loading img{
  height: 500px;
}

.App-WeatherCard.wide-screen .w-card-loading span {
  font-size: 40px;
}




@keyframes loading{
  0% {transform: scale(0.9)}
  100% {transform: scale(1.1)}
}